
    {% extends "AppFinal/padre.html" %}
    {% block Contenido %}

    <div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img style="max-width: 270px" src="../media/martin.jpg" >
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Luca Doro</h5>
                  <p class="card-text">Mi nombre es Luca, tengo 27 años y soy Analista de sistemas.</p>
                </div>
              </div>
            </div>
          </div>

    </div> 

    {% endblock %}

